@model IEnumerable<Category>


<div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">category list</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i>&nbsp; ADD CATEGORY</a>
            </div>
        </div>

    </div>
  <table class="table table-bordered table-striped" style="width:100%">
  <thead>
      <tr>
          <th>
              CATEGORY Name
          </th>
            <th>
              CATEGORY Order
          </th>
           <th>
             
          </th>
      </tr>

  </thead>
  <tbody>
      @foreach(var obj in Model)
        {
            <tr>
                <td width=50%>
                    @obj.Name
                </td>
                 <td width=30%>
                    @obj.DisplayOrder
                </td>
                 <td width=30%>
                  <div class="w-75 btn btn-group" role="group">
                      <a   class="btn btn-warning" asp-controller="Category" asp-action="Edit"  asp-route-id="@obj.Id">EDIT</a>
                  </div>
                </td>
                 <td width=30%>
                  <div class="w-75 btn btn-group" role="group">
                      <a   class="btn btn-danger" asp-controller="Category" asp-action="Delete"  asp-route-id="@obj.Id">Delete</a>
                  </div>
                </td>
               
            </tr>
            
        }
    </tbody>
  
  </table>

